* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f8f9fd;
  color: #333;
}

$primary-color: #0055a5;
$secondary-color: #f5f5f5;
$accent-color: #00bcd4;
$text-color: #333;
$white: #fff;

